<h1 align="center">Agilegram</h1>
<br>
<br>


<h5 align="center">Click to sign up for an Agilegram account</h5>
<br>
<br>
<div align="center">
<%= link_to 'Sign Up', users_path %>
</div>

 <%#<%= link_to "SignUp", signup_post_path(post), class: "btn btn-xs btn-primary" %>

 <%#<%= link_to "Edit", edit_post_path(post), class: "btn btn-xs btn-primary" %>