<h1 align="center">All posts</h1>
<br>
<br>
<div id="createpost" align="center">
<li><%= link_to "Create Post", new_post_path %></li>
</div>
<br>
<br>
<br>

<%= render 'shared/post', obj: @posts %>
<br>
 <%= link_to 'Back', root_path %>

 <%= link_to 'Logout', logout_path %>

 <div align="center">

 
</div>