
<h3>Showing selected post</h3>
<p>
  <%= @post.caption %>
</p>
<p>
 Comments: <br>
 <%= @post.comments %>
</p>

<%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>

 <%= link_to 'Back', posts_path %>