
<h3 align="center">Showing selected post</h3>
<div align="center" id="post">
<p>
  <%= @post.caption %>
</p>
<p>
 Comments: <br>
 <%= @post.comments %>
</p>
</div>

<div align="center" id="links">
<%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to 'Back', posts_path %>
</div>
